@media only screen and (min-width: 411px) and (max-width: 551px) {
    .carousel-title {
        font-size: 20px;
    }
    
    .carousel-text {
        font-size: 14px;
    }
    
    .carousel-button {
        font-size: 12px;
        padding: 6px 20px;
        margin-bottom: 5%;
    }
    }
    
    @media only screen and (min-width: 552px) and (max-width: 771px) {
    .carousel-title {
        font-size: 28px;
    }
        
    .carousel-text {
    font-size: 18px;
    }
        
    .carousel-button {
    font-size: 12px;
    padding: 10px 40px;
    margin-bottom: 5%;
    }
    }
    
    @media only screen and (min-width: 772px) and (max-width: 920px) {
    .carousel-button {
    font-size: 12px;
    padding: 10px 40px;
    margin-bottom: 10%;
    }
    }
    
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .mini-img {
        bottom: 18rem;
    }
    
    .mini-img2 {
        bottom: 39rem;
    }
    
    .mini-img3 {
        bottom: 58rem;
    }
    }
    
    @media only screen and (max-width: 991px) {
        .news {
            margin-bottom: 30px;
        }
    
        .mini-img, .mini-img2, .mini-img3 {
            position: static;
            margin-top: 30px;
        }
    
        .mini-img3 {
            margin-bottom: 30px;
        }
    
        .col-md-12:nth-child(n + 1) {
            order: 1;
        }
    
        .col-md-12:nth-child(n + 2) {
            order: 6;
        }
    
        .col-md-12:nth-child(n + 3) {
            order: 2;
        }
    
        .col-md-12:nth-child(n + 4) {
            order: 7;
        }
    
        .col-md-12:nth-child(n + 5) {
            order: 3;
        }
    
        .col-md-12:nth-child(n + 6) {
            order: 8;
        }
    
        .col-md-12:nth-child(n + 7) {
            order: 4;
        }
    
        .col-md-12:nth-child(n + 8) {
            order: 9;
        }
    
        .col-md-12:nth-child(n + 9) {
            order: 5;
        }
    }