/*****HEADER******/
header {
    background-color: #000;
}

.links-header {
    color: #fff;
    font-size: 17px;
    font-weight: 600;
}

.links-header-actual {
    color: #B19534;
    font-size: 17px;
    font-weight: 600;
}

.links-header:hover {
    color: #B19534;
    transition: 0.5s;
}

.social-header {
    margin-top: 7px;
}

/****BODY****/
html, body {
    background-color: #F0EEEE;
}

.carousel-image {
    width: 100%;
   opacity: 0.5;
}

.carousel-title {
    color: #fff;
    text-shadow: 3px 3px #000;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 52px;

}

.carousel-text {
    color: #fff;
    text-shadow: 3px 3px #000;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
}

.carousel-button {
    color: #fff;
    background-color: #B19534;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 12px 50px;
    margin-bottom: 30%;
    border-right: 3px solid #75621e;
    border-bottom: 3px solid #75621e;
}

.carousel-button:hover {
    background-color: #0e0e0e;
    border-right: 3px solid #000;
    border-bottom: 3px solid #000;
    transition: 0.3s;
    cursor: pointer;
}

section div h2 {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid #B19534;
    width: 220px;
    background-color: #B19534;
    padding: 7px 0;
    margin: 50px 0;
    text-align: center;
}

.divisor {
    border-bottom: 1px solid #000;
    margin-bottom: 30px;
}

.news {
    border: 1px solid #c1c1c1;
    width: 100%;
    background-color: #fff;
    margin-bottom: 20px;
}

.img-news {
    width: 100%;
}

.news-title {
    color: #000;
    font-size: 28px;
    margin-top: 20px;
    margin-left: 30px;
}

.news-title:hover {
    color: #B19534;
    transition: 0.3s;
}

.news-text {
    color: #000;
    margin-left: 30px;
}

.mini-img {
    position: relative;
    bottom: 20rem;
}

.mini-img2 {
    position: relative;
    bottom: 43.4rem;
}

.mini-img3 {
    position: relative;
    bottom: 64.6rem;
}

/****FOOTER****/
footer {
    background-color: #000;
}

.img-footer {
    text-align: center;
}

.footer-logo {
    width: 100px;
    padding-top: 20px;
}

footer div p {
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    padding: 15px 0;
}

.social-medias {
    text-align: center;
    padding-bottom: 15px;
}

/****PLANTEL****/
.roster {
    background-image: url(images/bg-roster.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7% 0;
}

.roster p {
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 15px;
    text-shadow: 3px 3px #000;
}

.roster-title {
    background-color: #000;
    border: 1px solid #000;
    margin-bottom: 15px;
}

.roster-img {
    width: 100%;
    padding-bottom: 30px;
    transition: 0.4s;
}

.roster-img:hover {
    transform: scale(1.1);
    transition: 0.4s;
}

/****RESPONSIVO****/
@media only screen and (min-width: 411px) and (max-width: 551px) {
.carousel-title {
    font-size: 20px;
}

.carousel-text {
    font-size: 14px;
}

.carousel-button {
    font-size: 12px;
    padding: 6px 20px;
    margin-bottom: 5%;
}
}

@media only screen and (min-width: 552px) and (max-width: 771px) {
.carousel-title {
    font-size: 28px;
}
    
.carousel-text {
font-size: 18px;
}
    
.carousel-button {
font-size: 12px;
padding: 10px 40px;
margin-bottom: 5%;
}
}

@media only screen and (min-width: 772px) and (max-width: 920px) {
.carousel-button {
font-size: 12px;
padding: 10px 40px;
margin-bottom: 10%;
}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
.mini-img {
    bottom: 18rem;
}

.mini-img2 {
    bottom: 39rem;
}

.mini-img3 {
    bottom: 58rem;
}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .mini-img {
        bottom: 15rem;
    }
    
    .mini-img2 {
        bottom: 36rem;
    }
    
    .mini-img3 {
        bottom: 56rem;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .mini-img {
        bottom: 15.5rem;
    }
    
    .mini-img2 {
        bottom: 36rem;
    }
    
    .mini-img3 {
        bottom: 57rem;
    }
}